{% extends 'partials/application.html' %}
{% block content %}
    <h1>Create New Post</h1>
    <hr>
    <form action="{% url 'new_post' %}" method="POST" class="ui form">
        {% csrf_token %}
        <div class="field">
            <label for="title">Title</label>
            <input type="text" name="title" id="title">
        </div>
        <div class="field">
            <label for="body">Body</label>
            <textarea name="body" id="body" cols="30" rows="10"></textarea>
        </div>
        <button type="submit" class="ui primary button">Submit</button>
    </form>
    <br>
    <a href="/posts" class="ui button">Go Back</a>
{% endblock %}